@model PressentaitionLayer.Account.LoginModel;
@using PressentaitionLayer.Account;
@{
    ViewData["Title"] = "Login";
}

<div class="row">

    <div class="col-md-5">

        <h2>Login with your credentials</h2>
        @if (!ViewContext.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <div asp-validation-summary="All"></div>
            </div>
        }
            <form asp-action="Login" method="post">
                <div class="form-group">
                    <label for="username">@Html.DisplayNameFor(m => m.UserName)</label>
                    <input type="text" class="form-control" placeholder="@Html.DisplayNameFor(m => m.UserName)"
                           id="username" name="username" asp-for="UserName" />
                </div>
                <div class="form-group">
                    <label for="password">@Html.DisplayNameFor(m => m.Password)</label>
                    <input type="password" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Password)"
                           id="password" name="password" asp-for="Password" />
                </div>

                <div class="form-group">
                    <label for="account_type">User Type<br><label />
                        @foreach (var item in Html.GetEnumSelectList<LoginModel.AccountType>())
                         {
                            @if (item.Text == "Buyer")
                            {
                                <input type="radio" class="radio-inline"  asp-for="UserType" value="@item.Text" checked />@item.Text
                            }
                            else
                            {
                                <input type="radio"  class="radio-inline"  asp-for="UserType" value="@item.Text" />@item.Text
                            }
                         }
                </div>
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </form>
    </div>
</div>