@model IEnumerable<PresentaitionLayer.Models.AdminModels.AdminShopDisplayModel>
@using ApplicationCore.Entitites;
@{
    ViewData["Title"] = "Shops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shops</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            @if (!item.State.Equals(Shop.ShopStateEnum.PermanentlyClosed))
            {
                <td>
                    <input type="button" class="btn-lg" value="Close Permanently" onclick="location.href='@Url.Action("CloseShop","Admin",new { shopGuid = item.Guid})'" />
                </td>
            }
        </tr>
}
    </tbody>
</table>
