@model PresentaitionLayer.Models.SellerModels.PoliciesModel
@{
    ViewData["Title"] = "Policies";
    int i = 0;
}

<h1 class="text-center">@Model.name policies</h1>

<h4 class="text-left">Purchase Policies</h4>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                Description
            </th>
            <th>
                Guid
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PurchasePolicies)
        {
            <tr>
                <td>
                    @(i += 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guid)
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
@{i = 0; }
<h4 class="text-left">Discount Policies</h4>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                Description
            </th>
            <th>
                precentage
            </th>
            <th>
                Guid
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DiscountPolicies)
        {
            <tr>
                <td>
                    @(i += 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountPercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guid)
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="margin: 40px 0">
    <h3>Add Compound Purchase Policy</h3>
    <form asp-action="AddCompoundPurhcasePolicy" method="post" class="form-control" style="height:120px; padding:6px 12px">
        <label>
            Description
            <input type="text" class="input" name="Description" placeholder="Policy Description" style="height:30px; width:1000px;" />
        </label>
        <label>
            policy1
            <input type="text" class="input" name="guid1" placeholder="Policy Number" style="height:30px; width:400px;" />
        </label>
        <label>
            operator
            <select name="Sign" required>
                <option value="^"> ^(xor)</option>
                <option value="&"> &(and)</option>
                <option value="|"> |(or)</option>
                <option value="->"> ->(implies)</option>
            </select>
        </label>
        <label>
            policy2
            <input type="text" class="input" name="guid2" placeholder="Policy Number" style="height:30px; width:400px;" />
        </label>

        <input type="hidden" name="shopId" value="@ViewData["ShopId"]" />
        <input type="submit" value="Add new Item" class="btn" />
    </form>
</div>

<div style="margin: 40px 0">
    <h3>Add Compound Discount Policy</h3>
    <form asp-action="AddCompoundDiscountPolicy" method="post" class="form-control" style="height:120px; padding:6px 12px">
        <label>
            Description
            <input type="text" class="input" name="Description" placeholder="Policy Description" style="height:30px; width:1000px;" />
        </label>
        <label>
            policy1
            <input type="text" class="input" name="guid1" placeholder="Policy Guid" style="height:30px; width:400px;" />
        </label>
        <label>
            operator
            <select name="Sign" required>
                <option value="^"> ^(xor)</option>
                <option value="&"> &(and)</option>
                <option value="|"> |(or)</option>
                <option value="->"> ->(implies)</option>
            </select>
        </label>
        <label>
            policy2
            <input type="text" class="input" name="guid2" placeholder="Policy Guid" style="height:30px; width:400px;" />
        </label>
        <label>
            percentage
            <input type="number" name="Percent" placeholder="0" max="100" min="0" />%
        </label>

        <input type="hidden" name="shopId" value="@ViewData["ShopId"]" />
        <input type="submit" value="Add new Item" class="btn" />
    </form>
</div>
