@model IEnumerable<ApplicationCore.Entitites.Shop>

@{
    ViewData["Title"] = "MyShops";
}

<h2>MyShops</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopState)
            </td>
            <td>
                @* <form asp-action="Manage" method="post">
            <input type="hidden" name="shopId" value=" @Html.DisplayFor(modelItem => item.Guid)" />
            <input type="submit" value="Manage" class="btn" />
        </form>*@
                @if (item.ShopState == ApplicationCore.Entitites.Shop.ShopStateEnum.Active)
                {
                    <input type="button" class="btn" value="Close Shop" onclick="location.href='@Url.Action("CloseShop","Seller",new { ShopId=item.Guid})'" />
                    <input type="button" class="btn" value="Manage" onclick="location.href='@Url.Action("Manage","Seller",new { ShopId=item.Guid})'" />
                }
                else if (item.ShopState == ApplicationCore.Entitites.Shop.ShopStateEnum.Closed)
                {
                    <input type="button" class="btn" value="Reopen Shop" onclick="location.href='@Url.Action("ReOpenShop","Seller",new { ShopId=item.Guid})'" />
                    <input type="button" class="btn" value="Manage" onclick="location.href='@Url.Action("Manage","Seller",new { ShopId=item.Guid})'" />
                }
            </td>
        </tr>
}
    </tbody>
</table>
<div class="form-inline">
    <form asp-action="OpenShop" method="post">
        new shop name:
        <input type="text" name="ShopName" class="form-control" placeholder="(Guid by default)" style="margin-left: 10px;"/>
        <input type="submit" class="btn pull-left" value="Open New Shop" style="margin-right: 15px;"/>
    </form>
</div>