@model IEnumerable<ApplicationCore.Entitites.ShopProduct>
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Category
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/Random/7.jpg" alt="@Html.DisplayFor(modelItem => item.Product.Name)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="btn-primary" asp-controller="Buyer" asp-action="Detail" asp-route-ItemId="@item.Guid">Details & Purchase</a>
                </td>
            </tr>
        }
    </tbody>
</table>