@using Microsoft.AspNetCore.Identity


@if (User.Identity.IsAuthenticated)
{
    <script>
        var x = 1;

        function dropDown() {
            if (x == 0) {
                document.getElementById("dropdown").style.display = "none";
                x = 1;
            } else {
                document.getElementById("dropdown").style.display = "block";
                x = 0;
            }
        }
    </script>
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <partial name="_ProfilePartial" />
            <li>
                <button asp-controller="Account" type="submit" class="btn btn-link navbar-btn navbar-link" asp-action="Logout">Logout</button>
            </li>
        </ul>
    </form>
    @if (User.IsInRole("Buyer"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="btn btn-link navbar-btn navbar-link" onclick="dropDown()">Buyer</li>
        </ul>
        <div class="dropdown-menu dropdown-menu-right" id="dropdown" style="margin: 0px 150px; display:none;">
            <a class="btn btn-link" style="text-align:left; color:black" onclick="location.href='@Url.Action("NewState","Account",new {userType="Seller"})'">Change to: Seller</a>
            <br />
            @if (User.Claims.Any(c => c.Value.Equals("adminia")))
            {
            <a class="btn btn-link" style="text-align:left; color:black" onclick="location.href='@Url.Action("NewState", "Account", new { userType = "Admin" })'">Change to: Admin</a>
            }
        </div>
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Buyer" asp-action="Shops">Shops</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Debug">Debug</a></li>
            <li>
                <form class="form-inline" asp-controller="Buyer" asp-action="Search" method="post">
                    <input name="searchString" type="text" class="form-control" aria-label="Search" placeholder="Search" style="margin:8px 0;" />
                    <input type="submit" value="Search" class="btn btn-sm">
                </form>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="glyphicon glyphicon-shopping-cart" asp-controller="Buyer" asp-action="ShoppingCart"></a>
            </li>
        </ul>
    }
    else if (User.IsInRole("Admin"))
    {

        <ul class="nav navbar-nav navbar-right">
            <li class="btn btn-link navbar-btn navbar-link" onclick="dropDown()">Admin</li>
        </ul>
        <div class="dropdown-menu dropdown-menu-right" id="dropdown" style="margin: 0px 150px; display:none;">
            <a class="btn btn-link" style="text-align:left; color:black" onclick="location.href='@Url.Action("NewState","Account",new {userType="Buyer"})'">Change to: Buyer</a>
            <br />
            <a class="btn btn-link" style="text-align:left; color:black" onclick="location.href='@Url.Action("NewState","Account",new {userType="Seller"})'">Change to: Seller</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Admin" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="Users">Users</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="Shops">Shops</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="Logs">Logs</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="Complaints">View Complaints</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="Debug">Debug</a></li>
        </ul>
    }
    else// Seller
    {

        <ul class="nav navbar-nav navbar-right">
            <li class="btn btn-link navbar-btn navbar-link" onclick="dropDown()">Seller</li>
        </ul>
        <div class="dropdown-menu dropdown-menu-right" id="dropdown" style="margin: 0px 150px; display:none;">
            <a class="btn btn-link" style="text-align:left; color:black" onclick="location.href='@Url.Action("NewState","Account",new {userType="Buyer"})'">Change to: Buyer</a>
            <br />
            @if (User.Claims.Any(c => c.Value.Equals("adminia")))
            {
                <a class="btn btn-link" style="text-align:left; color:black" onclick="location.href='@Url.Action("NewState", "Account", new { userType = "Admin" })'">Change to: Admin</a>
            }
            </div>
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Seller" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Seller" asp-action="MyShops">My Shops</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Debug">Debug</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
        <li><a asp-area="" asp-controller="Buyer" asp-action="Shops">Shops</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Debug">Debug</a></li>
        <li>
            <form class="form-inline" asp-controller="Buyer" asp-action="Search" method="post">
                <input name="searchString" type="text" class="form-control" aria-label="Search" placeholder="Search" style="margin:8px 0;" />
                <input type="submit" value="Search" class="btn btn-sm">
            </form>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="glyphicon glyphicon-shopping-cart" asp-controller="Buyer" asp-action="ShoppingCart"></a>
        </li>
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}